@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">Pristup odbijen</h1>
    <p class="text-danger">Ne posjedujete ovlasti za ovu stranicu.</p>
</header>
