@model IEnumerable<BrzaPosta.Models.Package>
@{
    ViewData["Title"] = "Tracking";
}

<div class="row">
    <div class="col-md-6 offset-md-3 text-center">
        <h3>Praćenje pošiljke</h3>
        <hr />
    </div>
</div>


<div class="row">
    <div class="col-md-6 offset-md-3 text-center">
        <form asp-controller="Package" asp-action="Details">
            <input type="text" class="form-control text-center" name="id" placeholder="Vaš TC (Tracking Code)" />
            <br />
            <input type="submit" value="Pretraži" class="btn btn-primary" />
        </form>
    </div>
</div>





